@import "tailwindcss";

@font-face {
  font-family: "Valorant-Regular";
  src: url("/fonts/valorant-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DINNextW1G";
  src:
    url("/fonts/DINNextW1G-Regular.woff2") format("woff2"),
    url("/fonts/DINNextW1G-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DINNextW1G";
  src:
    url("/fonts/DINNextW1G-Bold.woff2") format("woff2"),
    url("/fonts/DINNextW1G-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DINNextW1G";
  src:
    url("/fonts/DINNextW1G-Italic.woff2") format("woff2"),
    url("/fonts/DINNextW1G-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DINNextW1G";
  src:
    url("/fonts/DINNextW1G-BoldItalic.woff2") format("woff2"),
    url("/fonts/DINNextW1G-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tungsten-Bold";
  src:
    url("/fonts/Tungsten-Bold.woff2") format("woff2"),
    url("/fonts/Tungsten-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: #2c3e50;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "DINNextW1G", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c3e50;
  color: #2c3e50;
}

h1,
h2 {
  font-family: "Tungsten-Bold", "DINNextW1G", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.unselectable {
  user-select: none;
}

/* Agent name transition */
.agent-name-enter {
  transform: scaleY(0) translateZ(0);
  opacity: 0;
}

.agent-name-visible {
  transform: scaleY(1) translateZ(0);
  opacity: 1;
  transition: all 0.1s ease-out;
}
